<div class="container">
    <form [formGroup]="classeForm" (ngSubmit)="onSubmit()" class="form">
        <h3 class="text-center my-5">
            Créer une classe
            <button
                    mat-icon-button
                    routerLink="/classes"
                    matTooltip="Liste des classes"
            >
                <mat-icon>list</mat-icon>
            </button>
        </h3>
        <mat-form-field appearance="fill">
            <mat-label>Libellé</mat-label>
            <input matInput placeholder="Libellé" formControlName="libelle">
        </mat-form-field>
        <div *ngIf="classeForm.get('libelle')?.invalid && (classeForm.get('libelle')?.dirty || classeForm.get('libelle')?.touched)">
            <span *ngIf="f['libelle'].getError('required')" class="text-danger">Ce champ est requis.</span>
        </div>

        <div class="mt-5 text-end">
            <button mat-raised-button color="primary" type="submit">Enregistrer</button>
        </div>
    </form>
</div>
